* page {
    margin: 0;
    padding: 0;
}

body {
    width: 1024px;
    margin: 0 auto;
    box-shadow: 10px 10px 40px -1px #888;
}

.header {
    height: 260px;
    background-color: #f7e594;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.header-logo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid #78d4eb;
    margin-left: 100px;    
}

.header-top {
    margin-right: 100px;
}

.header-title {    
    color: #000;
}

.header-description {    
    color: #000;
    font-size: 24px;
}

.main {
    display: flex;
}

.left-container {
    width: 39%;
}

.right-container {
    width: 60%;
}

.footer {
    height: 100px;
    background-color: #a2a39b;
}